Repository microsoft/K2Bridge: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.dev.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines.dev.yml: any file but: *.md, docs, performance, *.png, README.md
  azure-pipelines.yml: any file but: *.md

Update azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Update values.yaml
  charts/k2bridge/values.yaml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Update secrets.yaml
  charts/k2bridge/templates/secrets.yaml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

reverting
  azure-pipelines.yml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

1
  azure-pipelines.yml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Fix credScan
  .config/CredScanSuppressions.json
  charts/k2bridge/values.yaml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

User/shlavi/ignorepass (#52)
  .config/CredScanSuppressions.json
Due: azure-pipelines.dev.yml, azure-pipelines.yml

lock chart version for es
  azure-pipelines.yml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

lock chart version for es (#53)
  azure-pipelines.yml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Removed limit from example
  README.md
Due: none

Removed limit from example (#54)
  README.md
Due: none

Log Analytics queries - Add a note about adding the service principal to the Log Analytics workspace
  README.md
Due: none

Update README.md
  README.md
Due: none

Upgrade to latest sdk
  K2Bridge.Tests.End2End/K2Bridge.Tests.End2End.csproj
  K2Bridge.Tests.End2End/KustoClientTests.cs
  K2Bridge.Tests.End2End/PopulateKusto.cs
  K2Bridge/K2Bridge.csproj
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Updated test to pass in latest version
  K2Bridge.Tests.End2End/QueryControllerErrorsTests.cs
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Upgrade to latest sdk (#56)
  K2Bridge.Tests.End2End/K2Bridge.Tests.End2End.csproj
  K2Bridge.Tests.End2End/KustoClientTests.cs
  K2Bridge.Tests.End2End/PopulateKusto.cs
  K2Bridge.Tests.End2End/QueryControllerErrorsTests.cs
  K2Bridge/K2Bridge.csproj
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Log Analytics queries - Add a note about adding the service principal to the Log Analytics workspace (#55)
  README.md
Due: none

Added namespace creation to docs
  docs/installation.md
Due: azure-pipelines.yml

Added namespace creation to docs (#58)
  docs/installation.md
Due: azure-pipelines.yml

Upgrade to .net 5
  K2Bridge.Tests.End2End/K2Bridge.Tests.End2End.csproj
  K2Bridge.Tests.UnitTests/K2Bridge.Tests.UnitTests.csproj
  K2Bridge/K2Bridge.csproj
Due: azure-pipelines.dev.yml, azure-pipelines.yml

trying to ignore packages incompatible with .net 5
  K2Bridge/K2Bridge.csproj
Due: azure-pipelines.dev.yml, azure-pipelines.yml

fix dockerfile sdk ver
  Dockerfile
Due: azure-pipelines.dev.yml, azure-pipelines.yml

compilation fix
  K2Bridge/Controllers/QueryController.cs
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Add development container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Update development container
  .devcontainer/Dockerfile
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Update base image to mcr.microsoft.com/vscode/devcontainers/base
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: azure-pipelines.dev.yml, azure-pipelines.yml

POC Kibana 7 support
  K2Bridge/Controllers/IndexListController.cs
  K2Bridge/KustoDAL/IKustoDataAccess.cs
  K2Bridge/KustoDAL/KustoDataAccess.cs
  K2Bridge/Models/Response/Metadata/ResolveIndexResponse.cs
  K2Bridge/Models/Response/Metadata/ResolveIndexResponseIndex.cs
  K2Bridge/RewriteRules/RewriteSearchRule.cs
  K2Bridge/Startup.cs
Due: azure-pipelines.dev.yml, azure-pipelines.yml

support dev-vnext branch as our development branch for the new version
  azure-pipelines.dev.yml
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Fix index creation (es7)
  K2Bridge.Tests.End2End/PopulateElastic.cs
Due: azure-pipelines.dev.yml, azure-pipelines.yml

hits.total is now an object (es7)
  K2Bridge.Tests.End2End/KustoClientTests.cs
  K2Bridge.Tests.End2End/KustoFunctionsTests.cs
  K2Bridge.Tests.End2End/ParallelApiTest.cs
  K2Bridge.Tests.End2End/TestElasticClient.cs
  K2Bridge.Tests.UnitTests/Models/Response/HitsCollectionTests.cs
  K2Bridge/Models/Response/HitsCollection.cs
  K2Bridge/Models/Response/Total.cs
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Add took element at top level (es7)
  K2Bridge.Tests.End2End/TestElasticClient.cs
  K2Bridge/Models/Response/ElasticResponse.cs
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Field caps now includes index name (es7)
  K2Bridge.Tests.End2End/KustoClientTests.cs
  K2Bridge.Tests.End2End/KustoFunctionsTests.cs
  K2Bridge/KustoDAL/KustoDataAccess.cs
  K2Bridge/Models/Response/Metadata/FieldCapabilityResponse.cs
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Remove time zone from test request (es7)
  K2Bridge.Tests.End2End/flights/MSearch_Sort_Double.json
  K2Bridge.Tests.End2End/flights/MSearch_Sort_String.json
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Adding csharp extension
  .devcontainer/devcontainer.json
Due: azure-pipelines.dev.yml, azure-pipelines.yml

Adding create-adx.sh
  .devcontainer/create-adx.sh
Due: azure-pipelines.dev.yml, azure-pipelines.yml
